.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
}

.App-body {
  padding: 100px;
  height: 100vh;
  border: 1px solid black;
  overflow: auto;
}

.App-card {
  width: 50%;
  height: 150px;
  background: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #24292f;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.App-bottom-card {
  width: 30%;
  height: 30px;
  background: #ffffff;
  margin-bottom: 15px;
  border: 1px solid #24292f;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-pagination {
  margin-left: 100px;
}

a:visited {
  color: #609;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
